# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Migrations
alembic/versions/*.pyc